

.ctn_presentation_evenement {
    height: 375px;
    box-shadow: 2px 2px 2px rgba(167, 167, 167, 0.5);
}
  
.ctn_pict {
    height: 35%;
}
  
.ctn_detail_singleEvente {
    height: 15.3rem;
}

.ctn_pict {
    background-image: url('../../assets/event/eventA.jpg');
    background-repeat: no-repeat;
    background-size: cover  ;
}

.separateur {
    background-color: blue;
    width: 30%;
    height: 2px;
    margin-top: 2px;
}

/*
<div className="ctn_separateur flex justify-center">
        <div className="separateur flex items-center"></div>
       </div>
*/

.bgz_type {
    background-color: #2A4E62;
}

.bgz_s {
    background-color: #2A4E62;
}

.bgz_si {
    background-color: #2A4E62;
}

.bgz_g {
    background-color: #2A4E62;
}

.sponse_single_event {
    width: 10%;
    height: 100%;
    margin-left: .8rem;
    margin-bottom: .2rem;
}

.icon_lieu {
    width: 1.5rem;
    height: 1.5rem;
}

.ctn_info_lieu {
    margin-left: -5px;
}

.ctn_modifier_event {
    width: 3%;
    height: 15%;
    /*background-color: red;*/
    position: absolute;
    /*margin-top: 13rem;
    margin-left: 57rem;*/
    bottom: .8rem;
    right: 1.2rem;
    z-index: 5;
    cursor: pointer;
    border-radius: 3px;
}

.ctn_information_evenement {
    position: relative;
}

.ctn_paf {
    width: 140px;
}

.iconSquar_info_single {
    bottom: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}
