.ctn_creation_evenement {
  width: 70%;
  box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
}

.iconSquar_info {
  width: 25px;
  height: 25px;
}

.iconSquar {
  width: 27px;
  height: 27px;
}

#uploadBtn {
  display: none;
}

#uploadBtn {
  margin-top: 50px;
}

.label_upload {
  display: inline-block;
  /*text-transform: uppercase;*/
  background-color: #2a4e62;
  color: #fff;
  text-align: center;
  padding: 5px 15px;
  font-size: 0.8rem;
  user-select: none;
  cursor: pointer;
  box-shadow: 2px 1px 1px rgb(0, 0, 0, 0.35);
  border-radius: 3px;
}

.label_upload:hover {
  background-color: #1a3a4a;
}

table {
  background-color: rgb(253, 253, 253);
  backdrop-filter: blur(7px);
  box-shadow: 0 0.2rem 0.2rem rgba(112, 112, 112, 0.333);
}

.bakg {
  background-color: #2a4e62;
  border-radius: 7px 0 0 0;
}

.bakgS {
  background-color: #2a4e62;
}

.bakgSi {
  background-color: #2a4e62;
}

.bakgG {
  background-color: #2a4e62;
  border-radius: 0 7px 0 0;
}

.btn {
  background-color: #2a4e62;
}

.btn:hover {
  background-color: #1a3a4a;
}

.choix_du_photo {
  height: 250px;
  box-shadow: 0 0.2rem 0.2rem rgba(112, 112, 112, 0.333);
}

.logo_image {
  margin-top: 6.5rem;
  width: 50px;
  height: 50px;
}

.ctn_image_choix {
  width: 100%;
  height: 250px;
  display: flex;
  /*justify-content: center;*/
  margin: 0px auto;
}

.image_choix {
  width: 100%;
  height: 100%;
}

.ctn_detail_box {
  box-shadow: 1px 1.2px 2px rgb(0, 0, 0, 0.35);
}
