.ctn_list_evenement {
    width: 29%;
    height: 550px;
    padding-left: 0.45rem;
}

.ctn_evenement_form {
    width: 72%;
    /*height: 550px;*/
}

.ctn_image {
    width: 30%;
    height: 100%;
}

.ctn_foot {
    height: 50px;
    width: 100%;
}


.ctn_inp {
    padding: 0px !important; 
}